* {
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 3rem;
  padding: .5rem;
}

h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.navbar {
  text-transform: uppercase;
  font-size: 1rem;
  font-size: 15px;
  font-weight: 600;
  padding: 0.75rem 1.25rem;
  background-color: #4eaeff;
}

.navbar-light .navbar-nav .nav-link {
  color: #ffffff !important;
  padding-left: 2rem;
}
a:visited {
  color: #ffffff !important;
}
a:hover {
  text-decoration: none !important;
}

#search-bar {
  margin-right: 0rem!important;
}

.socials {
  margin: .5rem;
  width: 1rem;
}

.fb {
  width: .5rem;
  margin: .5rem;
}

.container {
  margin-top: 3vh;
  padding: 0 !important;
}

.btn {
  background-color: #4eaeff;
  color: #ffffff;
  border-color: #2699FB;
  padding: 1rem 2rem;
}

#search-btn {
  padding: 0.5rem;
  margin-right: 1rem;
}

#subscribe-button {
  color: #ffffff;
  border-color: #ffffff;
  padding: 0.5rem 0.25rem;
}

.hero-caption {
  position:absolute;
  padding-top: 8vh;
  padding-left: 10vh;
  color: white;
  /* text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;   */
}

.d-block {
  /* width: 100vw; */
  height: 80vh;
}

img.icon {
  width: 3vw;
  margin: 0vh 5vw;
  border: 0;
}

img#logo {
  width: 7vw;
  margin: 0rem;
  padding: 0rem;
}

.down-arrow {
  text-align: center;
}

.row {
  margin-bottom: 5vh;
}

.footer {
  font-size: 0.95rem;
  padding: 5rem 2rem;
  background-color: #4eaeff;
  color: #ffffff;
  margin-top: 8vh;
  margin-bottom: 0vh;
}
.column-title {
  font-weight: 700;
  padding-left: 1rem;
  text-transform: uppercase;
}
.footer-text {
  padding-left: 1rem;
}
.margin-top-one {
  margin-top: 1rem;
}

.subscribe-form-title {
  font-weight: 700;
  padding-left: 1rem;
}
.subscribe-text {
  padding-left: 1rem;
}

#subscribe {
  padding-left: 1rem;
}

.hotels-and-tours {
  width: 50vw;
}

#tours-card-text {
  background-color: #BCE0FD;
  color: #2699FB;
}

#hotels-card-text {
  background-color: #BCE0FD;
  color: #2699FB;
}

.col-xs-12 {
  padding: 0 !important;
}

.prefectures {
  padding: 0.25rem;
}

.img-fluid {
  padding:0.5rem;
}

#about {
  margin-top: 3vh;
}

.about {
  text-align: justify;
  padding: .75rem 2rem;
}

#six-prefectures {
  margin: 0vh;
}

.prefectures {
  text-align: center;
}

.back-to-top {
  text-align: center;
}

#contact {
  padding: 1rem;
  text-align: center;
}

#places-to-visit {
  margin: 0vh;
}

